<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
    <title>Scissor - URL Shortener</title>
</head>
<body>
    <div class="container my-5">
        <div class="text-center">
            <h1 class="display-4 text-center mb-3">Scissor - URL Shortener (Request Testing)</h1>
            <button class="btn btn-primary my-3" id="get">GET</button>
            <button class="btn btn-info" id="signup">SIGN UP</button>
            <button class="btn btn-info" id="login">LOGIN</button>
            <button class="btn btn-warning" id="update">PUT/PATCH</button>
            <button class="btn btn-danger" id="delete">DELETE</button>
            <button class="btn btn-secondary" id="sim">Sim Requests</button>
            <button class="btn btn-secondary" id="headers">
                Custom Headers
            </button>
            <button class="btn btn-secondary" id="transform">
                Transform
            </button>
            <button class="btn btn-secondary" id="error">
                Error Handling
            </button>
            <button class="btn btn-secondary" id="cancel">
                Cancel
            </button>
        </div>
        <hr>
        <div class="form">
            <input type="email" id="email" placeholder="Email">
            <input type="password" id="password" placeholder="Password">
            <button class="btn btn-primary my-1" type="submit" id="submit">Submit</button>
        </div>
        <hr />
        <div id="res"></div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.4.0/axios.min.js"></script>
    <script src="{{url_for('static', filename='script.js')}}"></script>
</body>
</html>